body
{
    margin: 0px;
}
/* nav 樣式設定 */
nav
{
    display: flex;
}
nav>.logo
{
    /* 固定尺寸，沒有彈性 */
    flex: none;
    width: 100px;
    background-color: #ffcccc;
}
nav>.menu
{
    /* 盡量把容器的空間張滿 */
    flex:auto;
    background-color: #ccccff;
}
nav>.user
{
    flex: none;
    width: 100px;
    background-color: #ccffcc;
}

/* main樣 式設定 */

main    /* 容器 */
{
    display: flex;
    flex-wrap:wrap;;
    justify-content:center;
    background-color:#cccccc ;
}
main>.item /* 項目 */
{
    flex: none;
    width: 300px;
    margin: 10px;
    background-color: #ffcccc;
}
@media (max-width:1200px)
{
    main>.item
    {
        width:45%;
    }
}
@media (max-width:500px)
{
    main>.item
    {
        width:90%;
    }
}