.headline {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}
.desktop_menu {
    text-align: center;
    display: block;
}
.mobile_menu {
    text-align: center;
    display: none;
}
.list {
    display: flex;
    justify-content: center;
}
.product {
    flex: none;
    width: 280px;
    margin: 10px;
    background-color: #ffcccc;
}
@media (max-width:1250px) {
    /* 螢幕寬度小於 1250px 套用這個區塊的css */
    .headline {
        font-size: 25px;
    }
    .list {
        flex-wrap: wrap;
    }
    .product {
        width: 45%;
    }
}
@media (max-width:500px) {
    /* 螢幕寬度小於 500px 套用這個區塊的css */
    .headline {
        font-size: 20px;
    }
    .desktop_menu {
        display: none;
    }
    .mobile_menu {
        display: block;
    }
    .product {
        width: 90%;
    }
}